UserDefined/FullScreenQuadVS.hlsl -T vs -E main
UserDefined/VoxelizeVS.hlsl -T vs -E input_assembler
UserDefined/VoxelizeVS.hlsl -T vs -E buffer_loads
UserDefined/VoxelizeGS.hlsl -T gs -E main -DEXPLICIT_FAST_GS={0,1} -DCOVERAGE_WITH_EDGE_EQUATIONS={0,1} -DUSE_SOFTWARE_CONSERVATIVE_RASTER={0,1}
UserDefined/VoxelizePS.hlsl -T ps -E main -DVXGI_PS_TYPE={0,1,2} -DEMITTANCE_FORMAT=UNORM8
AllocationMap/ComputeDispatchArgumentsFilteredCS.hlsl -T cs -E main
AllocationMap/ComputeIrradianceDispatchArgumentsCS.hlsl -T cs -E main
AllocationMap/DebugAllocationMapPS.hlsl -T ps -E main
AllocationMap/DilateEmissivePagesCS.hlsl -T cs -E main
AllocationMap/GeneratePageListsCS.hlsl -T cs -E main
AllocationMap/InvalidateRegionsCS.hlsl -T cs -E main -DPERSISTENT_VOXEL_DATA={0,1,2}
AllocationMap/RasterizeInvalidatedRegionsVS.hlsl -T vs -E main
AllocationMap/RasterizeInvalidatedRegionsPS.hlsl -T ps -E main
VoxelTexture/ClearEmittancePagesCS.hlsl -T cs -E main -DPERSISTENT_VOXEL_DATA={0,1} -DEMITTANCE_FORMAT={UNORM8,FLOAT32} -DGROUP_SIZE={1,2,4}
VoxelTexture/ClearIrradiancePagesCS.hlsl -T cs -E main -DGROUP_SIZE={1,2,4}
VoxelTexture/ClearOpacityPagesCS.hlsl -T cs -E main -DUSE_6D_OPACITY={0,1} -DGROUP_SIZE={1,2,4}
VoxelTexture/ConvertCoverageToOpacityCS.hlsl -T cs -E main -DUSE_6D_OPACITY={0,1} -DGROUP_SIZE={1,2,4}
VoxelTexture/ConvertEmissivePagesCS.hlsl -T cs -E main -DEMITTANCE_FORMAT={UNORM8,FLOAT32} -DGROUP_SIZE={1,2,4}
VoxelTexture/DebugCoveragePS.hlsl -T ps -E main
VoxelTexture/DebugEmittancePS.hlsl -T ps -E main -DEMITTANCE_FORMAT={UNORM8,FLOAT32}
VoxelTexture/DebugIrradiancePS.hlsl -T ps -E main
VoxelTexture/DebugOpacityPS.hlsl -T ps -E main
VoxelTexture/DownsampleEmittancePagesCS.hlsl -T cs -E main -DEMITTANCE_FORMAT={UNORM8,FLOAT32} -DGROUP_SIZE={1,2,4} -DUSE_TRIANGULAR_FILTER={0,1}
VoxelTexture/DownsampleOpacityPagesCS.hlsl -T cs -E main -DGROUP_SIZE={1,2,4}
VoxelTexture/GenerateEmittanceMipmapCS.hlsl -T cs -E main -DEMITTANCE_FORMAT={UNORM8,FLOAT32} -DUSE_TRIANGULAR_FILTER={0,1}
VoxelTexture/GenerateOpacityMipmapCS.hlsl -T cs -E main
VoxelTexture/NormalizeIrradianceScaleCS.hlsl -T cs -E main
VoxelTexture/RestoreOpacityPagesCS.hlsl -T cs -E main -DGROUP_SIZE={1,2,4}
VoxelTexture/TraceIrradianceMapCS.hlsl -T cs -E main -DEMITTANCE_FORMAT={NONE,UNORM8,FLOAT32} -DGROUP_SIZE={1,2,4}
VoxelTexture/WrapEmittanceClipmapCS.hlsl -T cs -E main -DEMITTANCE_FORMAT={UNORM8,FLOAT32}
VoxelTexture/WrapEmittanceMipmapCS.hlsl -T cs -E main -DEMITTANCE_FORMAT={UNORM8,FLOAT32}
VoxelTexture/WrapOpacityClipmapCS.hlsl -T cs -E main
VoxelTexture/WrapOpacityMipmapCS.hlsl -T cs -E main
ConeTracing/BlurScreenSpaceOcclusionCS.hlsl -T cs -E main
ConeTracing/ComputeScreenSpaceOcclusionCS.hlsl -T cs -E main -DMSAA_G_BUFFER={0,1}
ConeTracing/CopyToStencilPS.hlsl -T ps -E main
ConeTracing/DeinterleaveDepthCS.hlsl -T cs -E main -DMSAA_G_BUFFER={0,1}
ConeTracing/DiffuseFilteringCS.hlsl -T cs -E main -DAMBIENT_OCCLUSION_MODE={0,1} -DMSAA_G_BUFFER={0,1}
ConeTracing/DiffuseInterpolationCS.hlsl -T cs -E main -DAMBIENT_OCCLUSION_MODE={0,1} -DMSAA_G_BUFFER={0,1} -DDOWNSAMPLE_SCALE={1,2,3,4}
ConeTracing/DiffuseTracingPS.hlsl -T ps -E main -DEMITTANCE_FORMAT={NONE,UNORM8,FLOAT32} -DSPARSE_TRACING={0,1} -DUSE_SAVE_SAMPLES={0,1} -DMSAA_G_BUFFER={0,1}
ConeTracing/RefinementGridVS.hlsl -T vs -E main
ConeTracing/SpecularFilteringCS.hlsl -T cs -E main -DMSAA_G_BUFFER={0,1}
ConeTracing/SpecularTracingPS.hlsl -T ps -E main -DEMITTANCE_FORMAT={NONE,UNORM8,FLOAT32} -DUSE_SAVE_SAMPLES={0,1} -DMSAA_G_BUFFER={0,1}
ConeTracing/TracerVisionPS.hlsl -T ps -E main -DEMITTANCE_FORMAT={NONE,UNORM8,FLOAT32} -DUSE_SAVE_SAMPLES={0,1} -DMSAA_G_BUFFER={0,1}
ConeTracingDebug/VisualizeConesGS.hlsl -T gs -E main
ConeTracingDebug/VisualizeConesPS.hlsl -T ps -E main
ConeTracingDebug/VisualizeSamplesGS.hlsl -T gs -E main
ConeTracingDebug/VisualizeSamplesPS.hlsl -T ps -E main
ConeTracingDebug/VisualizeSamplesVS.hlsl -T vs -E main
ConeTracingDebug/VisualizeTexelsGS.hlsl -T gs -E main
ConeTracingDebug/VisualizeTexelsPS.hlsl -T ps -E main
#
UserDefined/SampleGBufferFillPS.hlsl -T ps -E main
UserDefined/SampleDeferredLightingCS.hlsl -T cs -E main
